{% extends 'base.html.twig' %}

{% block title %}Ajouter un atelier!{% endblock %}

{% block body %}

    <h1>Ajouter un Atelier</h1>

    {# {{ form(formAddAtelier) }} #}

    {# <button type="submit">Ouesh</button> #}
{% endblock %}
