{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

{# ! J'affiche les formations dans le home #}
    {# <h1>Liste des formations</h1>

    {% for formation in formations %}
          {{ formation }} 
    {% endfor %} #}
{% endblock %}
