{% extends 'base.html.twig' %}

{% block title %}truc !{% endblock %}

{% block body %}

<h1>Ajouter le nombre de jours</h1>

{{ form(formAddJours) }}

{# <button type="submit">Ouesh</button> #}
{% endblock %}